.postsWrapper{
  /* border: 3px solid black; */
  width: 100%;
}

.contentWrapper{
  /* border-radius: 10px; */
  border: rgb(0, 0, 0) solid 1px;
  display: flex;
  flex-direction: column;
  padding: 10px 20px 10px 20px; 
  margin: 1%;
  background: linear-gradient(rgb(51, 51, 51), black);
}

.contentTitle{
  margin: 3px;
}

.contentData{
  display: flex;
  /* flex-direction: column; */
  width: fit-content;
}
.contentData p{
  margin: 0;
  padding: 10px 0;

}
.contentData iframe{
  border: 0px solid black;
  /* width: FROM SCRIPT
  height: FROM SCRIPT */

}
.contentData img{
  border: 0px solid black;
  width: 440px;

}

.contentDescription{
  margin: 0;
  padding: 0;
  color: white;
  width: 50%;
}