.mainWrapper{
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
}

.videoWrapper{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 93.1vh;
}

@media screen and (max-width: 900px){
    .mainWrapper{
        width: 100%;
    }

}