.hirdetesWrapper{
  background-image: url('../../assets/backgrounds/paperBackournd.jpg');
  padding: 2% 0px 5% 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;

}
.hirdetesTitle{
  margin: 0 0 30px 0;
  width: 100%;
  background-color: rgba(255, 0, 0, 0);
  text-align: center;
}

.embededDocument{
  margin: 20px;
  width: 50%;
  height: 100%;
  box-shadow: 0px 0px 35px 40px rgba(255,255,255,1);
  border: 1px solid black;
  border:none;
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background: rgb(0, 0, 0, 0.8); 
}

body::-webkit-scrollbar-thumb {
  background: rgb(120, 120, 120, 0.5); 
}

body::-webkit-scrollbar-thumb:hover {
  background:rgb(120, 120, 120, 1); 
}



@media screen and (max-width: 900px){
  .embededDocument{
    margin: 20px;
    width: 60%;
    height: 100%;
    box-shadow: 0px 0px 15px 15px rgba(255,255,255,1);
    border: 1px solid black;
    border:none;
  }

}