.headerWrapper {
  display: flex;
  justify-content: space-between;
  width: 97%;
  margin: 0px;
  padding: 0px 1% 0px 2%;
  font-family: 'Cormorant', serif;
  background-color: rgb(0, 0, 0, 0.8);
}
.headerTitleWrapper{
  display: flex;
  align-items: center;
}
.headerTitle {
  margin: 0px;
  padding: 0px;
  color: white;
}

.buttonsWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0px;
  padding: 0px;
}